header{
    font-weight: 600;
    height: 50px;
    width: 100%;
    top: 0;
    position: fixed;
    background-color: #333;
    border-bottom: 5px solid $color-1-1;
    z-index: 100;
 }

header nav{
    float: left;
    display: flex;
    justify-content: space-around;
    height: 100%;
}

header a{
    text-align: center;
    display: inline-block;
    padding: 0 10px;
    height: 100%;
    line-height: 50px;
    color: #CCC;
    background-color: #333;
    text-decoration: none;
    border-radius: 2px;
    transition: background-color 0.2s, border 0.2s, font-size 0.2s;
    border-top: 0px solid white;
    box-sizing: content-box;
    border-left: 5px solid #333;
    border-right: 5px solid #333;
    font-size: 12pt;
}

header a:hover:not(.nav-now){
    font-size: 13pt;
    border-top: 10px solid white;
    border-left: 5px solid white;
    border-right: 5px solid white;
    /*color: #333;
    background-color: #CCC;*/
}

.nav-now{
    background: #AAA;
    color: #333;
    font-size: 1rem;
    border: none;
    position: relative;
    z-index: 10;
    height: 100%;
}

.nav-now:hover::after, .nav-now:hover::before{
    bottom: -30px;
}

.nav-now::after{
    transition: all 0.2s;
    content: "";
    position: absolute;
    top: -100px;
    bottom: -10px;
    left: 50%;
    right: 0;
    background: $color-1-1;
    transform: skewY(-15deg);
    z-index: -1;
}

.nav-now::before{
    transition: all 0.2s;
    content: "";
    position: absolute;
    top: -100px;
    bottom: -10px;
    left: 0;
    right: 49%;
    background: $color-1-1;
    transform: skewY(15deg);
    z-index: -1;
}

header div{
    float: right;
    height: 100%;
}

header div *{
    display: inline;
}

header #signIn-sign-Out-form button{
    width: 100px;
    height: 80%;
    background-color: #FFF;
    border: none;
    font-size: 15pt;
    margin-right: 10px;
}