.group-user, .group-user *, .group-user-dragndrop__user, .group-list__group{
    animation-duration: 0.1s;
}

.user-group-config{
    display: flex;
}

.group-user-dragndrop{
    border-right: 1px solid #666;
    border-left: 1px solid #666;
    border-bottom: 1px solid #666;
}
.group-user-dragndrop__search-button{
    border: none;
    cursor: pointer;
    padding: 5px;
    transition: background-color 0.1s;
}

.group-user-dragndrop__search-button:hover{
    background-color: #ccc;
}

.group-user-dragndrop__search-input{
    cursor: pointer;
    padding: 5px;
}

.group-user-dragndrop__user{
    padding: 5px;
    border-bottom: 1px solid #666;
    cursor: move;
}

.group-list{
    margin-left: 30px;
    border-right: 1px solid #666;
    border-left: 1px solid #666;
    width: 300px;
    height: auto;
}

.group-list__group{
    border-bottom: 1px solid gray;
    transition: padding 0.1s;
}

.group-list__group__header{
    padding: 5px;
}

.group-list .group-user-dragndrop__user{
    padding-left: 30px;
}

.dragging{
    padding-bottom: 30px;
}

.delete-btn{
    border: none;
    background: #ccc;
    float: right;
    padding: 2px;
    margin-left: 10px;
}

.group-name{
    font-weight: 600;
}

.group-list__group__content{
    color: #333;
}