.my-state{
    float: right;
}

.member-row{
    width: 100%;
    display: flex;
    transition-duration: 10s;
    text-decoration: none;
    color: #444;
    font-size: 1.2rem;
    padding: 5px;
    background: #FFF;
    transition: all 0.2s;
}

.member-row:hover{
    color: black;
    background: #EEE;
}

.member-row div{
    width: 100%;
}