@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root {
    --color-border: #BBB;
}

main{
    min-width: 700px;
    height: calc(100vh - 100px);
}

.kalender{
    min-height: 500px;
    height: 100%;
    flex-direction: column;
    margin-top: 10px;
}

.kalender__header{
    border-bottom: 1px solid var(--color-border);
    padding: 10px;
    padding-left: 20px;
    position: relative;
    height: 30px;
}

.kalender__main{
    height: calc(100% - 80px);
    width: 100%;
    display: flex;
    position: relative;
}

.kalender__aside{
    box-sizing: border-box;
    position: relative;
    border-right: 1px solid var(--color-border);
    height: 100%;
    width: 250px;
    transition: width 0.3s, padding 0.3s, left 0.2s;
    padding: 20px;
    overflow: auto;
    left: 0px;
    padding-top: 120px;
}

.kalender__aside--hidden{
    padding: 0;
    width: 0;
    left: -200px;
    overflow: hidden;
}

.kalender__body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.kalender__header > * > *{
    display: inline-block;
    margin-right: 30px;
    line-height: 100%;
    height: 100%;
}

.kalender__header__left, .kalender__header__right{
    height: 100%;;
    display: inline-block;
    transition: margin 0.2s;
}

.kalender__header__right{
    position: absolute;
    right: 0;
}

.kalender__header__headline{
    color: #444;
    margin-right: 100px;
    transition: margin 0.3s;
}

.kalender__burger-label{
    height: 100%;
    width: 35px;
    background: transparent;
    transform: scaleX(1);
    padding-bottom: 4px;
}

.kalender__burger-label:hover *{
    margin-top: 6px;
}

.kalender__burger-label:active{
    transform: scaleX(1.2);
}

#kalender__burger-input{
    display: none;
}

.kalender__burger-line{
    display: block;
    background: #555;
    width: 20px;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;
    border-radius: 4px;
    transition: margin 0.2s;
}

.kalender__header__month{
    margin-right: 100px;
    transition: margin 0.3s;
}

.kalender__header__month button{
    color: #555;
    background: #FFF;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    transition: box-shadow 0.1s, transform 0.2s, background-color 0.2s;
    font-size: 20pt;
    font-family: 'Anton', sans-serif;
    transform: scale(1);
}

.kalender__header__month button:active{
    transform: scale(0.7);
    background-color: #DDD;
}

.kalender__header__current-month{
    font-size: 21pt;
    color: #666;
    margin-left: 20px;
    width: 250px;
    height: auto;
    display: inline-block;
}

.kalender__view-dropdown{
    border: 1px solid #CCC;
    border-radius: 4px;
    min-width: 100px;
    height: auto;
    padding: 3px;
}

.kalender__search-button{
    border-radius: 50%;
    padding: 0;
    margin: 0;
}

.kalender__search-input{
    width: 200px;
    padding: 8px;
    border: none;
    font-size: 15pt;
    background-color: #F1F1F1;
}

.kalender_interactive-shadow{
    cursor: pointer;
    transition: box-shadow 0.2s ease-out, transform 0.2s ease-out;
}

.kalender_interactive-shadow:hover{
    background-color: #fafafa;
}

.kalender_interactive-shadow:hover{
    -webkit-box-shadow: 2px 2px 22px -2px rgba(184,184,184,1);
    -moz-box-shadow: 2px 2px 22px -2px rgba(184,184,184,1);
    box-shadow: 2px 2px 22px -2px rgba(184,184,184,1);
}

/*
    Enter New Button
*/

.kalender__enter{
    opacity: 0.6;
    margin: 10px;
    position: absolute;
    height: 80px;
    width: 80px;
    left: 0px;
    min-width: 80px;
    transition: all 0.2s;
    outline: 10000px solid rgba(0,0,0,0);
    border-radius: 40px;
    background: white;
    overflow: hidden;
    -webkit-box-shadow: 10px 10px 61px -10px rgba(0,0,0,0.43);
    -moz-box-shadow: 10px 10px 61px -10px rgba(0,0,0,0.43);
    box-shadow: 10px 10px 61px -10px rgba(0,0,0,0.43);
    z-index: 10;
    box-sizing: border-box;
}

.kalender__enter__img{
    margin-left: 20px;
    margin-top: 20px;
    width: 40px;
    height: 40px;
    display: inline-block;
    transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.kalender__enter__text{
    position: absolute;
    line-height: 80px;
    color: #444;
    top: 0;
    left: 100px;
    transition: left 0.2s;
    font-size: 15pt;
    font-weight: 600;
}

.kalender__enter--minimized:hover, .kalender__enter--bigger{
    width: 190px;
    opacity: 1;
}

.kalender__enter--minimized:hover .kalender__enter__text, .kalender__enter--bigger .kalender__enter__text{
    left: 80px;
}

.kalender__enter--minimized:hover .kalender__enter__img{
    transform: rotate(90deg);
}

.kalender__enter--minimized:hover{
    transform: skew(-4deg, -1deg) scale(1.05);
}

.kalender__enter--minimized:active{
    transform: scale(0.9);
}

/*
    Enter New Content
*/

.kalender__enter--maximized{
    border-radius: 0;
    width: 600px;
    height: calc(100vh - 80px);
    left: 50%;
    width: 600px;
    margin-left: -300px;
    top: 50px;
    position: fixed;
    overflow: auto;
    padding: 0 30px;
    opacity: 1;
    outline: 4000px solid rgba(0,0,0,0.5);
}

.kalender__enter--maximized .kalender__enter__text{
    left: 120px;
    font-size: 2rem;
}

.kalender__enter__header{
    position: relative;
    margin-top: 100px;
    opacity: 0;
    transition: all 0.8s;
}

.kalender__enter--maximized .kalender__enter__header{
    margin-top: 20px;
    opacity: 1;
}

.kalender__enter__close-btn{
    position: fixed;
    top: 100px;
    right: 30px;
    font-size: 1.5rem;
    color: #666;
    border: none;
    text-align: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #FFF;
    line-height: 50px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.3s;
}

.kalender__enter--maximized .kalender__enter__close-btn{
    opacity: 1;
    margin-right: 0;
}

.kalender__enter__choices{
    display: flex;
    margin: 20px;
    margin-top: 50px;
    justify-content: space-around;
    border-bottom: 3px solid #AAA;
    position: relative;
}

.kalender__enter-choice{
    font-size: 1.2rem;
    font-weight: 600;
    z-index: 10;
    padding: 10px;
    transition: all 0.3s;
}

.kalender__enter-choice i{
    padding-top: 4px;
    display: block;
    text-align: center;
}

.kalender__enter-chosen{
    position: absolute;
    height: 100%;
    width: 20px;
    transition: all 0.2s;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.kalender__enter__content{
    padding-top: 30px;
    width: 90%;
    position: absolute;
    font-size: 1.4rem;
    line-height: 2rem;
    color: #444;
}

.kalender__enter__content i{
    margin-right: 20px;
    font-size: 2rem;
}

.kalender__enter__properties{
    position: absolute;
    top: 0;
    width: 100%;
}

.kalender__date-selector, .kalender__time-selector{
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
}

.group-select, .trainings-blueprint-select{
    border-radius: 10px;
    margin: 5px;
}

.group-select__header, .trainings-blueprint-select__header{
    padding: 10px;
}

.group-select__groups, .trainings-blueprint__blueprints{
    padding-left: 60px;
    overflow: hidden;
}

.group-select__group, .trainings-blueprint{
    padding: 5px;
    padding-left: 20px;
    border-radius: 4px;
    transition: all 0.2s;
    background: #EEE;
    color: #BBB;
}

.group-select__group input{
    margin-right: 10px;
}

.group-select__group:hover, .trainings-blueprint:hover{
    background: #CCC;
    color: black;
}


.group-select__group--checked, .blueprint--checked{
    color: #333;
    background: white;
}

.group-select__header .fa-caret-square-down, .trainings-blueprint-select .fa-caret-square-down{
    margin-left: 30px;
    display: inline-block;
    position: relative;
    font-size: 1.5rem;
}

.kalender__termin__name{
    width: 70%;
    margin: 20px;
    margin-left: 70px;
}

.kalender__termin__name__input{
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #888;
}

.enter__enter-btn{
    margin: 30px;
    float: right;
    border: none;
    padding: 10px;
    background: #4285F4;
    color: white;
    border-radius: 10px;
    transition: all 0.2s;
    bottom: 0px;
    height: 50px;
    width: 150px;
    font-weight: 700;
}

.enter__enter-btn:hover{
    background: #3070E0;
    color: white;
    -webkit-box-shadow: 6px 5px 24px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 5px 24px -11px rgba(0,0,0,0.75);
    box-shadow: 6px 5px 24px -11px rgba(0,0,0,0.75);
    transform: scale(1.05   );
}

.enter__enter-btn:active{
    transform: scale(0.9);
}

i{
    transition: all 0.3s;
}

.rotate-reverse{
    transform: rotate(180deg);
}

.comment-input{
    padding: 10px;
    width: 100%;
    resize: vertical;
    font-size: 1rem;
    box-sizing: border-box;
}

.loading-circle{
    height: 30px;
    width: 30px;
    animation: rotate infinite 1s linear;
    border-right: 3px solid #FFF;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

@keyframes rotate{
    from{
        transform: rotate(0deg);
    } to{
        transform: rotate(360deg);
    }
}

.error-message{
    color: coral;
}

/*
    Kalender__body
*/

.kalender__body > div{
    height: 100%;
    width: 100%;
    background: white;
    position: absolute;
    top: 0;
}

.kalender__month{
    display: flex;
    flex-direction: column;
    
}
.kalender__week{
    width: 100%;
    height: 100%;
    display: flex;
}

.kalender__day{
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-border);
    border-top: none;
    border-left: none;
    font-size: 9pt;
}

.kalender__month .kalender__day{
    max-height: 200px;
}

.kalender__day.kalender__today .day__number{
    background-color: #1a73e8;
    color: white;
    font-weight: 600;
}

.kalender__day--out-of-month{
    color: #999;
}

.day__name, .day__number{
    font-weight: 500;
    text-align: center;
    line-height: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 2px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.kalender__week ~ .kalender__week .day__name{/*Hiding all day names that are not in the first week of the month*/
    display: none;
}

/*
    Kalender Entry
*/

.kalender__entry{
    height: 1.5rem;
    line-height: 1.5rem;
    padding-left: 5px;
    box-sizing: border-box;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 3px;
}

.kalender__entry:not(.kalender__entry--placeholder){
    -webkit-box-shadow: 0px 9px 25px -5px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 9px 25px -5px rgba(0,0,0,0.3);
    box-shadow: 0px 9px 25px -5px rgba(0,0,0,0.3);
    cursor: pointer;
}

.kalender__entry--start-cap{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.kalender__entry--end-cap{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*
    Kalender entry info
*/

.kalender__entry-info{
    display: none;
    opacity: 0;
    position: absolute;
    background: white;
    width: 400px;
    z-index: 10000;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    -webkit-box-shadow: 4px 5px 46px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 4px 5px 46px -5px rgba(0,0,0,0.5);
    box-shadow: 4px 5px 46px -5px rgba(0,0,0,0.5);
}

.kalender__entry-info__header{
    display: flex;
    justify-content: flex-end;
}

.kalender__entry-info__header *{
    margin: 0 10px;
}

.kalender__more-optios__dot{
    height: 4px;
    width: 4px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 50%;
    background-color: #555;
}

.kalender__entry-info__close-button{
    background: none;
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: #444;
    transition: transform 0.2s;
}

.kalender__entry-info__close-button:active{
    transform: scale(0.7);
}

.kalender__entry-info__close-button:hover{
    transform: scale(1.5);
}

.kalender__entry-info__name{
    font-weight: 600;
    font-size: 1.2rem;
    color: #333;
    margin: 5px;
}

.kalender__entry-info__color{
    content: " dsad";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 53px;
    left: 30px;
    background-color: green;
    border-radius: 3px;
    transition: background-color ease 0.4s;
    -moz-box-shadow: 0px 9px 28px -1px rgba(0,0,0,0.52);
    box-shadow: 0px 9px 28px -1px rgba(0,0,0,0.52);
}

.kalender__entry__body{
    padding-left: 35px;
}

.kalender__entry__name{
    position: relative;
    overflow: hidden;
    text-shadow: 2px 3px 6px #303030;
}

.kalender__entry-info__date{
    color: #555;
    font-size: 1rem;
    margin-left: 5px;
}

.kalender__entry-info__content{
    left: -20px;
    position: relative;
    padding-left: 40px;
    margin-top: 20px;
    height: 0;
    overflow: hidden;
    transition: all 0.2s;
}

.kalender__entry-info__content > div{
    margin-top: 20px;
    font-size: 1.2rem;
    line-height: 100%;
}

.kalender__entry-info__content i{
    position: absolute;
    color: #444;
    font-size: 1.3rem;
    left: 0;
}

.kalender__entry-info__content--expanded{
    height: 200px;
}

.initiator{
    color: #111;
}

.kalender__entry-info__initiator{
    margin-left: 10px;
    color: #777;
}

.entry-expand-btn{
    transition: all 0.2s;
    color: #333;
    float: right;
    font-size: 1.3rem;
    border: none;
    background: white;
    border-radius: 5px;
    transform: rotate(0deg);
}

.entry-expand-btn--expanded{
    transform: rotate(180deg);
}

.comment{
    overflow: auto;
}

/*
    more options
*/  

.more-options{
    position: absolute;
    z-index: 11000;
    background: white;
    transition: all 0.2s;
    border-radius: 7px;
    padding: 10px;
    flex-direction: column;
    font-size: 1rem;
    border: 2px solid #CCC;
    -webkit-box-shadow: 10px 10px 84px -1px rgba(0,0,0,0.26);
    -moz-box-shadow: 10px 10px 84px -1px rgba(0,0,0,0.26);
    box-shadow: 10px 10px 84px -1px rgba(0,0,0,0.26);
}

.more-options .option{
    padding: 10px;
    color: #333;
    transition: all 0.2s;
    border-radius: 0;
}

.more-options .option:hover{
    color: black;
    background: #DDD;
    border-radius: 10px;
}

/*
    Date selector
*/

.kalender__date-selector-field, .kalender__time-selector-field{
    position: absolute;
    opacity: 0;
    display: none;
    z-index: 1100;
    background: white;
    -webkit-box-shadow: 10px 10px 84px -1px rgba(0,0,0,0.26);
    -moz-box-shadow: 10px 10px 84px -1px rgba(0,0,0,0.26);
    box-shadow: 10px 10px 84px -1px rgba(0,0,0,0.26);
}

.kalender__time-selector-field{
    width: 220px;
    padding: 5px;
}

.kalender__time-selector-field input{
    padding: 10px;
    border: none;
    background: #EEE;
    border: 1px solid #AAA;
    width: 50px;
}

.kalender__time-selector-field * {
    display: inline;
}

.kalender__time-selector-field__check{
    font-size: 1.8rem;
    margin-left: 20px;
    transition: all 0.2s;
    display: inline-block;
    padding-top: 5px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 20px;
}

.kalender__time-selector-field__check:hover{
    background: #CCC;
    border-radius: 50%;
}

.kalender__time-selector__use{
    margin-left: 20px;
}

.kalender__time-selector--grayed-out{
    background: #EEE;
    color: #AAA;
}

.kalender__time-selector--grayed-out:hover{
    background: #CCC;
}

.kalender__date-selector-field__back-btn, .kalender__date-selector-field__forewards-btn{
    color: #555;
    background: #FFF;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    transition: box-shadow 0.1s, transform 0.2s, background-color 0.2s;
    font-size: 1.8rem;
    font-family: 'Anton', sans-serif;
    transform: scale(1);
}

.kalender__date-selector-field__forewards-btn{
    float: right;
}

.kalender__date-selector-field__date{
    display: inline-block;
    width: 150px;
    text-align: center;
    color: #333;
    font-size: 1rem;
    padding: 10px;
    font-weight: 500;
}

.kalender__date-selector-field .kalender__day{
    cursor: pointer;
    padding: 5px;
    border: 1px solid #DDD;
    font-size: 0.9rem;
}

.kalender__date-selector-field .day__number{
    transition: all 0.2s;
}

.kalender__date-selector-field .kalender__day:hover > .day__number{
    background-color: #CCC;
}

.errorClass{
    outline: 2px solid salmon;
}



@media only screen and (max-width: 1100px) {
    .kalender__header__right {
        position: static;
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 20px;
    }

    .kalender__header__left { 
        width: 100%;
    }

    .kalender__header__headline{
        color: #444;
        margin-right: 30px;
    }

    .kalender__header__month{
        padding-right: 100px;
        margin-right: 0;
        float: right;
    }
}

/* smartphones, touchscreens */
@media (hover: none) and (pointer: coarse) {
    .kalender__entry-info{
        width: 80vw !important;
        height: 80vh !important;
        top: 10vh !important;
        left: 10vw !important;
        font-size: 3rem;
    }
    .kalender__entry-info__close-button{
        font-size: 3rem;
    }
    .kalender__more-optios__dot{
        width: 10px;
        height: 10px;
        margin: 5px;
    }

    html{
        font-size: 20pt;
    }

    .kalender__enter--maximized{
        left: 50%;
        width: 800px;
        margin-left: -400px;
    }

    .kalender__entry{
        height: 2rem;
        line-height: 1rem;
        padding-left: 5px;
        font-size: 1rem;
    }

    .enter__enter-btn{
        font-size: 1rem;
        height: 100px;
        width: 250px;
    }

    .loading-circle{
        height: 70px;
        width: 70px;
    }
}