.title-img{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -10;
    top: 0;
    animation: blend-in 8s 0.5s both cubic-bezier(0.075, 0.82, 0.165, 1);
    background-size: cover;
    color: white;
}

main{
    width: 80vw;
    margin-top: 30vh;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
}

section{
    background: white;
    padding-top: 0;
    z-index: 10;
    margin-top: 50px;
    min-height: 100vh;
    -webkit-box-shadow: 10px 10px 93px -15px rgba(0,0,0,0.49);
    -moz-box-shadow: 10px 10px 93px -15px rgba(0,0,0,0.49);
    box-shadow: 10px 10px 93px -15px rgba(0,0,0,0.49);
    position: relative;
}

section::before, section::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 100px;
    transform-origin: right;
    background: white;
    z-index: -10;
    animation: skewY-in 1s both;
}

section::after{
    transform-origin: left;
    animation: skewY-in 1s both;
    bottom: 0;
    top: initial;
}

section > * :not(i){
    animation: blend-in-from-bottom 2s both;
}

h1{
    text-shadow: 2px 5px 20px rgba(0,0,0,0.89);
    color: white;
    text-align: center;
    position: fixed;
    top: 15vh;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 3rem;
}

@keyframes blend-in{
    from{
        opacity: 0;
        transform: translate(-50px, -100px);
    } to{
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes skewY-in{
    from{
        transform: skewY(0deg);
    } to{
        transform: skewY(2deg);
    }
}

@keyframes blend-in-from-bottom{
    from{
        transform: translateY(30px);
        opacity: 0;
    } to{
        transform: translateY(0);
        opacity: 1;
    }
}

@media (hover: none) and (pointer: coarse) {
    html{
        font-size: 23pt;
    }

    main{
        width: 100vw;
        margin-top: 20vh;
    }
}