section{
    padding-left: 100px;
}

.training-content{
    flex-grow: 10;
}

i{
    color: #333;
    font-size: 2rem;
    line-height: 2rem;
    position: absolute;
    left: -50px;
}

.title{
    margin-top: -20px;
    font-weight: 600;
    width: 100%;
}

.date{
    margin-top: 20px;
    color: #333;
    font-size: 1.5rem;
}

.trainer{
    line-height: 2rem;
    margin-top: 20px;
}

.comment{
    color: #333;
    margin-top: 20px;
}

.comment__header{
    font-size: 1.4rem;
}

.komment__body{
    padding: 10px;
    padding-left: 30px;
}

.participants{
    margin-top: 30px;
}

.participants__title{
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: 500;
}

.participants__list{
    padding-left: 20px;
    max-height: 200px;
    overflow: auto;
}

.trainings-blueprint{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    line-height: 1.4rem;
}

.trainings-blueprint > div{
    height: 500px;
    width: 30%;
    border: 1px solid gray;
    overflow: auto;
}

.trainings-blueprint .header{
    display: block;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 1.3rem;
    line-height: 1.5rem;
    background: gray;
    border-bottom: lightcoral solid 5px;
}

.trainings-blueprint .name{
    display: inline-block;
    width: 100px;
}

aside{
    float: right;
    height: 100px;
    width: 200px;
}