.burger
    cursor: pointer

    div
        width: 25px
        height: 3px
        background-color: #CCC
        margin: 5px
        transition: all 0.2s
        transform: scaleX(1)
        
    &:hover .line
        transform: scaleX(1.3)