
/*
    Accordion
    Extend- and collabsale content with header

    usage:
    <div class="accordion">
        <button type="button" class="accordionButton">Expand content</button>
        <div class="accordionContent">
            <p>Test Content</p>
        </div>
    </div>
*/
.accordionButton{
    border: none;
    /*border-top: 3px solid gray;*/
    display: block;
    width: 100%;
    cursor: pointer;
    text-align: left;
    transition: background-color 0.2s;
    margin: 0;
}

.accordionButton::after{
    content: "\25be";
    float: right;
    font-size: 1.7rem;
    padding: 0;
    line-height: 10px;
    color: gray;
    transition: transform 0.5s, color 0.5s;
    transform: rotate(0deg);
}

.accordionButtonActive::after{
    transform: rotate(180deg);
    color: #000;
    
}

.accordionContent{
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s;
    padding: 0 15px;
}

.porperties{
    position: absolute;
    z-index: 100;
    border: 1px solid gray;
    background-color: white;
    padding: 10px;
    display: none;
}